@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilo para H1 */
h1 {
  @apply text-3xl font-bold text-center text-gray-800 mt-10 mb-10;
}

/* Estilo para H2 */
h2 {
  @apply text-2xl font-semibold text-gray-700 mt-10 mb-5;
}

/* Estilo para H3 */
h3 {
  @apply text-xl font-semibold text-gray-700 mt-10 mb-5;
}

/* Estilo para el cuerpo del texto */
p {
  @apply text-base text-gray-500;
}

body {
  overflow-x: hidden;
}

footer {
  position: relative;
  bottom: 0;
}

@screen md {
  /* Estilo para H1 */
  h1 {
    @apply text-4xl mt-20 mb-20;
  }

  /* Estilo para H2 */
  h2 {
    @apply text-3xl;
  }

  /* Estilo para H3 */
  h3 {
    @apply text-2xl;
  }
}
